body {
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  word-wrap: normal;
  min-width: 320px;
  color: #122659;
  background-color: #fefcfa;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  min-width: initial;
  height: 1px;
  min-height: initial;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
